#root {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.skeleton-container{
    box-sizing: border-box;
    text-align: left;
}

.skeleton-container > *{
    margin-bottom: 20px;
    display: block !important;
}

.skeleton > .paragraph{
  margin-bottom: 8px;
  display: block !important;
}

.content-skeleton{
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: left;

}


@media (min-width: 600px) {
  .content-skeleton { grid-template-columns: repeat(2, 1fr); }
}