h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  text-align: center;
  width: 20rem;
  background: #3b3b3b;
  padding: 20px;
}

h5.title {
  margin-bottom: 20px;
  color: #e5dc6b;
  font-weight: 400;
}

p.count{
    margin-top: 20px;
    margin-bottom: 20px;
}