#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-conatainer {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(15, 15, 15);
}

h2 {
  text-align: center;
  color: rgb(179, 255, 139);
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  color: #8b8b8b;
  margin-bottom: 8px;
  text-transform: uppercase;
}

input {
  width: 100%;
  padding: 10px 8px;
  border: none;
  border-radius: 8px;
}

.submitBtn {
  padding: 5px 15px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(196, 255, 114);
  color: #1a1a1a;
  font-weight: 600;
  cursor: pointer;
}

ul li {
  list-style: none;
  text-align: left;
}

.list-box {
  background-color: #1a1a1a;
  padding: 20px 50px;
}

.product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  width: 30%;
  background: #525251;
  padding: 10px;
  margin: 5px;
}

.pagination{
  display: flex;
  justify-content: center;
}

.pagination span{
  border: 1px solid grey;
  padding: 10px;
  cursor: pointer;
}

button{
  padding: 8px 10px;
  cursor: pointer;
}