@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 19, 19);
  color: #ddddddb7;
  height: 100vh;
}

.game {
  max-width: calc(3 * 200px);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.status {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 35px;
  border: 2px solid rgba(192, 247, 180, 0.381);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: rgb(36, 36, 36);
  color: #fff;
}

.cell:hover{
    background-color: #5b5b5b;
}

.resetBtn{
    padding: 5px 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    opacity: .7;
    transition: opacity 0.3s ease-in-out;
}

.resetBtn:hover{
    opacity: 1;
}

.winBox{
    color: #3eff61;
}