#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #2e2f2e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 15px;
  margin-bottom: 5px;
  color: #ffffff;
}

input {
  width: 95%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #b9f68e;
  border-radius: 4px;
  background-color: #dfdfdf;
  color: rgb(55, 55, 55);
}

input:focus {
  outline: none;
  border-color: #007bff;
}

p {
  color: #ff8787;
  margin: 0;
  font-size: 12px;
  margin-top: 4px;
}

input.error-input{
  border: 1px solid red;
}